header {
    background-color: rgb(240, 240, 146);
    height: 100px;
    width: 500px;
    margin:auto;
    text-align: center;
    padding-left: 35px;
padding-top: 10px;
    
}

div {
height: 300px;
width: 500px;
margin:auto;
background-color: rgb(152, 201, 201);
text-align: left;
padding-left: 35px;
padding-top: 10px;
margin-top: 5px;
font-size: 22px;

    
}

